body {
  margin: 0;
  font-family: Arial;
  background-color: rgb(225, 244, 251);
}

.header {
  background: #1e3a5f;
  color: white;
  padding: 15px;
}

/* CONTENEDOR PRINCIPAL, aca van ambos recuadros */
.main-content {
  display: flex;
  gap: 10px;
  padding: 20px;
}

/* CATÁLOGO */
.catalogo {
  width: 70%;
  height: 700px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* ESPACIO DONDE SE MUESTRAN LOS PRODUCTOS*/
.product-grid{
    margin-top: 20px;
    height: 80%;
    border-radius: 20px;
    border: dotted rgb(204, 204, 204);
    display:grid;
    grid-template-columns: repeat(9, 1fr);
    justify-items: center;
    overflow: scroll;
}

/* CAJA DE CADA PRODUCTO*/
.boxProduct{
    width: 150px;
    height: 200px;
    background-color: #d9dde1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}

.boxProduct::shadow{
  box-shadow: 2px 2px black;
}

.textBox{
    font-size: 15px;
}

/*CONTENEDOR BOTONES AGREGAR Y QUITAR*/
.btnesDisposi{
    height: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
}

/*CONTENEDOR BOTONES PARA MODIFICAR O ELIMINAR PRODUCTO*/
.btonesMoldearProdcuto{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 5px;
    gap: 5px;
}

.btonRest{
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 10px 0px 10px 0xp;
  border: none;
  background-color: #3498db;
  border-radius: 5px 0 0 5px;
}

.btonPlus{
  color: white;
  height: 20px;
  width: 20px;
  border: none;
  background-color: #3498db;
  border-radius: 0 5px 5px 0;
}

.contentPrice{
  color: white;
  height: 20px;
  width: 50px;
  background-color: #3498db;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btonModifPorducto{
  color: white;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: rgb(42, 195, 203);
}

.btonDelProducto{
  color: white;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: rgb(232, 38, 38);  
}

/* CARRITO */
.cart{
  width: 900px; /* MOVI ESTO PERO NO SE COMO VOLVERLO A HACER NORMAL*/
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 20px;
  height: 700px; /* ACA SE CAMBIA LO LARGO DE LOS RECUADROS */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ÁREA VACÍA DEL CARRITO, esto es momentaneo mientras se pone el backend*/
.cart-empty{  
  flex: 1;
  border: 2px dashed rgb(204, 204, 204); /* esto es para lineas punteadas*/
  border-radius: 10px;
  margin: 10px 0;
}

/* BOTÓN DE PAGO */
.pay-btn {
  background: rgb(41, 145, 41);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}



/* ACTIONS */
.actions-container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

/* BARRA PARA BUSCAR */
.search-input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid rgb(204, 204, 204);
  width: 200px;
}

/* RECUADRO DE CATEGORIAS DESPLEGABLE */
.category-select {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid rgb(204, 204, 204);
}

/* BOTONES */
.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.btn.green {
  background: rgb(41, 145, 41);
}

.btn.blue {
  background: rgb(0, 119, 255);
}

.btn.orange{
  background-color: orange;
}

/*FORMULARIOS*/

input{
    font-family: inherit;
}

.contenedorForm{
    margin: 40px auto;
    padding: 3rem 1.5rem ;
    background-color: white;
    width: min(350px, 90%);
    border-radius: 10px ;
}

.formTittle{
    font-size: 2rem;
}

.form{
   margin: 2rem 0 1.5rem ;
   display: grid;
   gap: 1.5rem ;
   color: #6b6b6b;
}

.formLabel{
    width: 100%;
    display: grid;
    grid-template-areas: "input";
}

.formInput{
    grid-area: input;
    border-radius: 5px;
    border: solid 1px #d7d0d0;
    padding: .7rem 1.5rem ;
    background-color: #ffffff;
}

.formInput:focus + .formText,  .formInput:not(:placeholder-shown) + .formText{
     background-color: white; 
     transform: translateY(-50%) scale(.7);
}

.formText{
    grid-area: input;
    z-index: 10;
    width: max-content;
    height: 100%;
    margin-left: 1rem;
    padding: 0 .5rem;
    display: flex;
    align-items: center;
    transform-origin: left center;
    transition: transform .3s;
}

.contentBtonForms{
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-around;
}

.btonAdd{
  height: 40px;
  width: 100px;
  background-color:  #3498db;
  border-radius: 10px;
  border: none;
  color: white;
}

button{
  cursor: pointer;
}
.btonBack{
  height: 40px;
  width: 100px;
  background-color: #3498db;
  border-radius: 10px;
  border: none;
  color: white;
}
/* RESPONSIVE */
@media (max-width: 700px) {
  .main-content {
    flex-direction: column;
  }

  .catalogo,
  .cart {
    width: 100%;
  }

  .product-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px){
  .product-grid{
    grid-template-columns: repeat(3, 1fr);
  }
}